* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --light-color: #D3E4F2;
    --dark-color: #6B98BD;
}

.UIKV-btn-common {
    transition: all ease 0.3s;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--light-color);
    border: 2px solid #ffffff00;
    border-radius: 10px;
    padding: 3px 10px 2px 10px;
}
.UIKV-btn-common:hover {
    border: 2px solid var(--dark-color);
}

.UIKV-btn-green {
    transition: all ease 0.3s;
    cursor: pointer;
    font-weight: bold;
    background-color: #CAF5CD;
    border: 2px solid #ffffff00;
    border-radius: 10px;
    padding: 3px 10px 2px 10px;
}
.UIKV-btn-green:hover {
    border: 2px solid #25A82E;
}

.UIKV-btn-red {
    transition: all ease 0.3s;
    cursor: pointer;
    font-weight: bold;
    background-color: #FBD3D0;
    border: 2px solid #ffffff00;
    border-radius: 10px;
    padding: 3px 10px 2px 10px;
}
.UIKV-btn-red:hover {
    border: 2px solid #C77069;
}

.UIKV-input {
    outline: none;
    transition: all ease 0.3s;
    background-color: var(--light-color);
    border: 2px solid #ffffff00;
    border-radius: 10px;
    padding: 3px 5px 2px 5px;
}
.UIKV-input:focus {
    border: 2px solid var(--dark-color);
}

.UIKV-textarea {
    outline: none;
    transition: all ease 0.3s;
    font-size: 14px;
    background-color: var(--light-color);
    border: 2px solid #ffffff00;
    border-radius: 10px;
    padding: 3px 7px 3px 5px;
    overflow: auto;
}
.UIKV-textarea:focus {
    border: 2px solid var(--dark-color);
}
.UIKV-textarea::-webkit-scrollbar {
    width: 10px;
}
.UIKV-textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:var(--dark-color);
}

.UIKV-checkbox, .UIKV-radio {
    position: relative;
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
.UIKV-checkbox::before, .UIKV-radio::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    background-color: var(--light-color);
    transition: all 0.3s ease;
}
.UIKV-checkbox::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 5px;
    border-left: 3px solid var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    transition: all 0.3s ease;
}
.UIKV-checkbox:checked::after {
    opacity: 1;
}

.UIKV-radio::before {
    border-radius: 50%;
}
.UIKV-radio::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: var(--dark-color);
    opacity: 0;
    transition: all 0.3s ease;
}
.UIKV-radio:checked::after {
    opacity: 1;
}

.UIKV-switch {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 18px;
    background-color: var(--light-color);
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
.UIKV-switch::after{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

}
.UIKV-switch:checked{
    background: var(--dark-color);
}
.UIKV-switch:checked::after{
    left: 70%;
}

.UIKV-modal-window {
    text-align: center;
    padding: 15px 25px 15px 25px;
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    border-radius: 10px;
}
.UIKV-modal-window h2 {
    margin: 0 0 15px 0;
}

.UIKV-context-message-common-up {
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding: 2px 7px 3px 7px;
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    border-radius: 10px;
}
.UIKV-context-message-common-up::after {
    content: '';
    position: absolute;
    top: -7px;
    left: calc(50% - 4px);
    width: 8px;
	height: 8px;
    transform: rotate(-45deg);
    background-color: var(--light-color);
    border-top: var(--dark-color) solid 2px;
    border-right: var(--dark-color) solid 2px;
}
.UIKV-context-message-common-down {
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding: 2px 7px 3px 7px;
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    border-radius: 10px;
}
.UIKV-context-message-common-down::after {
    content: '';
    position: absolute;
    top: calc(100% - 3px);
    left: calc(50% - 4px);
    width: 8px;
	height: 8px;
    transform: rotate(-225deg);
    background-color: var(--light-color);
    border-top: var(--dark-color) solid 2px;
    border-right: var(--dark-color) solid 2px;
}

.UIKV-context-message-red-up {
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding: 2px 7px 3px 7px;
    background-color: #FBD3D0;
    border: 2px solid #C77069;
    border-radius: 10px;
}
.UIKV-context-message-red-up::after {
    content: '';
    position: absolute;
    top: -7px;
    left: calc(50% - 4px);
    width: 8px;
	height: 8px;
    transform: rotate(-45deg);
    background-color: #FBD3D0;
    border-top: #C77069 solid 2px;
    border-right: #C77069 solid 2px;
}
.UIKV-context-message-red-down {
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding: 2px 7px 3px 7px;
    background-color: #FBD3D0;
    border: 2px solid #C77069;
    border-radius: 10px;
}
.UIKV-context-message-red-down::after {
    content: '';
    position: absolute;
    top: calc(100% - 3px);
    left: calc(50% - 4px);
    width: 8px;
	height: 8px;
    transform: rotate(-225deg);
    background-color: #FBD3D0;
    border-top: #C77069 solid 2px;
    border-right: #C77069 solid 2px;
}

.UIKV-native-select {
    transition: all ease 0.3s;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--light-color);
    border: 2px solid #ffffff00;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}
.UIKV-native-select:hover, .UIKV-native-select:focus {
    border: 2px solid var(--dark-color);
    outline: none;
}

.UIKV-custom-select {
    position: relative;
    display: inline-flex;
    font-size: 14px;
}
.UIKV-custom-select-box {
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--light-color);
    border: 2px solid #ffffff00;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}
.UIKV-custom-select-box:hover {
    border: 2px solid var(--dark-color);
}
.UIKV-custom-select-options-list {
    position: absolute;
    border-radius: 10px;
}
.UIKV-custom-select-option {
    box-sizing: border-box;
    cursor: default;
    font-weight: bold;
    background-color: var(--light-color);
    border: 2px solid #ffffff00;
    padding: 2px 10px 2px 10px;
}
.UIKV-custom-select-option:hover {
    background-color: #6CA8D9;
}
.UIKV-custom-select-arrow {
    position: relative;
    top: 1px;
    transition: all 0.3s ease;
    margin-left: auto;
    width: 5px;
    height: 5px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(-45deg);
    transform-origin: 4px 2px;
}

.UIKV-range {
    cursor: pointer;
    appearance: none;
}
.UIKV-range::-webkit-slider-runnable-track {
    height: 10px;
    background: var(--dark-color);
    border-radius: 50px;
}
.UIKV-range::-webkit-slider-thumb {
    appearance: none;
    border: 1px solid var(--dark-color);
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: var(--light-color);
    margin-top: -4px;
}

.UIKV-progress {
    margin-bottom: 3px;
    appearance: none;
    border-radius: 50px;
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 10px;
}
.UIKV-progress::-webkit-progress-bar {
    border-radius: 50px;
    background-color: var(--dark-color);
    border: var(--dark-color) 2px solid;
}
.UIKV-progress::-webkit-progress-value {
    border-radius: 8px;
    background-color: var(--light-color);
}